.container {
  background-color: #E8DBA6;
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

#leftbar {
  margin-top: 100px;
  width: 25%;
  float: left;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #93C490;
  padding: 2px;
}

#leftbar h3 {
  color: #ECE5B0;
  font-weight: bold;
}

#leftbar p {
  font-size: 20px;
}

#rightcontent {
  margin-top: 20px;
  margin-left: 25%;
  padding: 10px;
}

body {
    background-color: #E0DFD9;
}

#clicksubmit {
  background-color: #BDBBB1;
}
